* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Tahoma";
  src: url(fonts/Tahoma.ttf);
}

/* Works on Firefox */
* {
  scrollbar-width: 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

/* *::-webkit-scrollbar-track {
  background: orange;
} */

*::-webkit-scrollbar-thumb {
  border-radius: 0;
}

html {
  height: 100%;
  background-color: #252525;
  /* font-family: "Tahoma"; */
  font-weight: 100;
}

body {
  position: relative;
  height: 100%;
  color: black;
}

.fa {
  color: white;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.navbar img {
  height: 50px;
  margin-left: 50px;
}

.nav-items {
  color: white;
  display: flex;
  width: 100%;
  font-size: 20px;
  padding: 40px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.nav-items a {
  text-decoration: none;
  color: black;
  transition: 200ms ease-in-out;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.nav-items ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-items ul li {
  list-style: none;
  padding: 10px;
  font-size: 16px;
}

.logo {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  /* transform-style: preserve-3d; */
}

/* .container::-webkit-scrollbar {
  display: none;
} */

section {
  height: 100%;
  /* width: 100vw; */
  scroll-snap-align: start;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 2px solid white; */
}

.one {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  background-color: white;
  /* position: relative; */
  justify-content: center;
  /* align-self: center; */
}

/* .frame {
  width: 225px;
  height: 225px;
  position: absolute; */
/* background-color: aquamarine; */
/* border-style: solid;
  border-width: 10px;
  border-radius: 30px;
  border-color: rgb(162, 19, 19);
  transition: 200ms ease-in-out; */
/* z-index: 100; */
/* } */

/* .frame:hover + .subtitle {
  font-size: 50px;
  transition: 200ms ease-in-out;
  transform: scale(1);
  opacity: 1;
}

.frame:hover {
  border-width: 20px;
  transition: 200ms ease-in-out;
  border-color: rgb(255, 0, 0);
} */

.one h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding: 20px;
}

.one-content {
  width: 50%;
  scroll-snap-align: start;
  position: absolute;
  /* top: 0; */
}

.index {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translate(10px, -50%);
}

.dot {
  height: 8px;
  width: 8px;
  border: solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}

.filled {
  background-color: #717171;
}

.underline {
  border-bottom: solid black;
  transition: 200ms ease-in;
}

/* .guide{
    position: absolute;
    bottom: 100px;
    display: block;
    border-style: solid;
} */

.two {
  background-color: white;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.two h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: "Tahoma";
  text-align: center;
}

.two p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: "Tahoma";
  text-align: center;
  padding: 50px;
}

.two p a {
  color: black;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* .two-img {
  height: 240px;
} */

.three {
  background-color: white;
  /* position: relative; */
  /* width: 100%; */
}

.card-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  align-items: center;
  /* width: 90%; */
  /* justify-content: flex-start; */
  /* margin-left: 60px; */
  margin: 0 35px;
}

.card {
  flex: 0 0 100%;
  min-width: 300px;
  height: 70%;
  margin: 0 10px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 24px;
  /* scroll-snap-align: center; */
  scroll-snap-align: start;
  font-family: "Tahoma";
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.card p {
  display: flex;
  justify-content: center;
  height: 60%;
  align-items: center;
  margin: 0 80px;
}

.card a {
  text-decoration: none;
  color: #333;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.card img {
  height: 60px;
  border-radius: 15px;
}

.card-dots {
  display: none;
  justify-content: center;
  margin-top: 10px;
  position: fixed;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
}

.card-dot.active {
  background-color: #333;
}

/* .card:not(:last-child) {
  margin-right: 20px;
} */

/* .card:hover {
  transform: translateZ(0) scale(0.7);
} */

.four {
  background-color: azure;
  /* position: relative; */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  background: black;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  /* pointer-events: none; */
  flex-direction: column;
  align-items: center;
  transition: 3s ease-in-out;
}

.mail-hidden {
  display: none;
}

/* .footer:hover {
  transform: scale(1.1);
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
} */

.footer .socials a {
  pointer-events: auto;
}
/* 
.footer .socials a:hover {
  transform: scale(1.5);
} */

.mail {
  display: none;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  transition: 5s ease-in-out;
  align-items: center;
}

.mail input {
  width: 370px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

.mail input:focus {
  outline: none;
}

.mail button {
  width: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid white;
  height: 50px;
  background: black;
  color: white;
  font-family: "Tahoma";
}

.socials {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
  margin: 10px;
}

.socials a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
}

.socials a:hover {
  color: orange;
  transition: 200ms ease-in-out;
  transform: scale(2);
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 40px;
  }

  .dot {
    height: 5px;
    width: 5px;
    border: solid 1.4px;
  }

  .two h1 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Tahoma";
    text-align: center;
  }

  .two p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Tahoma";
    text-align: center;
    padding: 37px 40px;
  }

  .three {
    height: 90%;
  }
  .card-container {
    height: 85%;
  }

  .card-dots {
    bottom: 10%;
  }

  .mail input {
    width: 200px;
    height: 40px;
    font-size: 20px;
  }

  .mail button {
    height: 40px;
    width: 70px;
  }

  .card h2 {
    font-size: 20px;
    margin: 5px;
  }

  .card p {
    font-size: 15px;
    margin: 5px;
  }
}
